<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1024, user-scalable=no">

	<title>Presentation</title>
	
	<!-- Required stylesheet -->
	<link rel="stylesheet" href="core/deck.core.css">
	
	<!-- Extension CSS files go here. Remove or add as needed. -->
	<link rel="stylesheet" href="extensions/goto/deck.goto.css">
	<link rel="stylesheet" href="extensions/menu/deck.menu.css">
	<link rel="stylesheet" href="extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="extensions/status/deck.status.css">
	<link rel="stylesheet" href="extensions/hash/deck.hash.css">
	<link rel="stylesheet" href="extensions/scale/deck.scale.css">

	<!-- Style theme. More available in /themes/style/ or create your own. -->
	<link rel="stylesheet" href="themes/style/swiss.css">
	
	<!-- Transition theme. More available in /themes/transition/ or create your own. -->
	<link rel="stylesheet" href="themes/transition/horizontal-slide.css">
	
	<!-- Required Modernizr file -->
	<script src="modernizr.custom.js"></script>
	<style type="text/css">
		.top {
			background: #fff url('logo.png') bottom left no-repeat !important;
		}
	</style>
</head>
<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->

<section class="slide top">
  <h1>Express Nodes on the right Angle</h1>
  <h3>Vitaliy Basyuk aka Wolfgang Bas</h3>
  <h3>becevka@kucoe.net</h3>
</section>

<section class="slide top">
	<h2>Did you ever have a product idea?</h2>
	<img src="idea.jpg" alt="idea">
</section>

<section class="slide top">
	<blockquote>A dream will always triumph over reality, once it is given the chance. <cite>Stanislaw Lem</cite></blockquote>
	<img src="kid.jpg" alt="dreams">
</section>

<section class="slide top">
	<img src="network.jpg" width="500" height="500" alt="design">
	<cite style="float:right">birkey.com</cite>
</section>

<section class="slide top">
	<h4>My way on finding technologies which help not to lose excitement of my idea and not let me sink in the sea of boilerplate code.</h4>
	<img src="swim1.jpg" height="500" alt="swim">
</section>

<section class="slide top">
	<img src="layers.gif" height="500" alt="layers">
</section>

<section class="slide top">
	<h4>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</h4>
	<img src="nodejs.jpg" height="500" alt="nodejs">
</section>

<section class="slide top">
  <h2>The basic philosophy of Node.js</h2>
  <ol style="padding-left: 5em">
    <li>
      <h3>Non-blocking I/O</h3>
      <p>Every I/O call must take a callback, whether it is to retrieve information from disk, network or another process</p>
    </li>
    <li>
      <h3>Built-in support for the most important protocols</h3>
      <p>HTTP, DNS, TLS</p>
    </li>
    <li>
      <h3>Low-level</h3>
      <p>Does not remove functionality present at the POSIX layer. For example, support half-closed TCP connections.</p>
    </li>
    <li>
      <h3>Stream everything</h3>
      <p>Never force the buffering of data</p>
    </li>
  </ol>
</section>

<section class="slide top">
  	<h2>Code</h2>
  	<pre>
  		fs.readFile('/etc/passwd', function(err, data) {
  			console.log(data);
		});
	</pre>
   	<pre class="slide">
   		var http = require('http');
		http.createServer(function (req, res) {
  			res.writeHead(200, {'Content-Type': 'text/plain'});
  			res.end('Hello World\n');
		}).listen(8081);
		console.log('Server running at port 8081');
   	</pre>
</section>

<section class="slide top">
  	<h2>Server routing</h2>
  	<pre>
  		var http = require('http');
		http.createServer(function (req, res) {
  			var path = url.parse(req.url).pathname;
  			var hello = {message: "Hello, world"};
  			switch (path) {
  			case '/json':
     				res.writeHead(200, {'Content-Type': 'application/json; charset=UTF-8'});
     				res.end(JSON.stringify(hello));
      				break;

  			default:
    				res.writeHead(404, {'Content-Type': 'text/html; charset=UTF-8'});
    				res.end('Sorry, we cannot find that!');
  			}
		}).listen(8081);
	</pre>
</section>

<section class="slide top">
  	<h2>Express</h2>
  	<pre>
  		var express = require('express');
		var app = express();
		app.get('/', function(req, res) {
  			res.send('Hello World');
		});
		app.listen(8081); 
	</pre>
	<pre class="slide">
		var express = require('express');
		var app = express();
		var hello = {message: "Hello, world"};
		app.get('/json', function(req, res) {
  			res.json(hello);
		});
		app.all('*', function(req, res) {
  			res.send(404, 'Sorry, we cannot find that!');
		});
		app.listen(8081); 
	</pre>
</section>

<section class="slide top">
  	<h2>What Express does?</h2>
  	<ol style="padding-left: 5em">
    	<li>
    		<h3>Processing request parameters and headers</h3>
    	</li>
    	<li>
    		<h3>Routing</h3>
    	</li>
    	<li>
    		<h3>Rendering response and views support</h3>
    	</li>
    	<li>
    		<h3>Application configuration and middleware support</h3>
    		<p>session, CSRF, basicAuth, vhost, static content, custom</p>
    	</li>
    </ol>
 </section>

 <section class="slide top">
  	<h2>Express example</h2>
  	<pre>
  		var express = require('express'),
  			routes = require('./routes'),
  			api = require('./routes/api');
		
		var app = express();

		app.configure(function(){
  			app.set('views', __dirname + '/views');
  			app.set('view engine', 'jade');
  			app.use(express.bodyParser());
  			app.use(express.methodOverride());
  			app.use(express.static(__dirname + '/public'));
  			app.use(app.router);
		});
		app.configure('development', function(){
  			app.use(express.errorHandler({ dumpExceptions: true, showStack: true }));
		});
		app.configure('production', function(){
  			app.use(express.errorHandler());
		});
   	</pre>
 </section>

 <section class="slide top">
  	<h2>Express example (continue)</h2>
  	<pre>
  		app.get('/', routes.index);
		//  res.render('index');

		app.get('/posts', api.posts);
		app.get('/posts/:id', api.post);
		//var id = req.params.id;
		app.post('/posts', api.addPost);
		//res.json(req.body);
		app.put('/posts/:id', api.editPost);
		app.delete('/posts/:id', api.deletePost);

		app.get('*', routes.index);
   		app.listen(3000, function(){
  			console.log("Express server listening on port %d in %s mode", app.address().port, app.settings.env);
		});
 	</pre>
 </section>

 <section class="slide top">
  	<h2>Node.js pros</h2>
  	<ol style="padding-left: 5em">
    	<li>
    		<h3>Known language (JavaScript)</h3>
    	</li>
    	<li>
    		<h3>Additional API are documented well and understandable</h3>
    	</li>
    	<li>
    		<h3>Effortless building of REST services with Express</h3>
    	</li>
    	<li>
    		<h3>No server configuration, easy to install and run</h3>
    	</li>
    	<li>
    		<h3>Real-time application support </h3>
    	</li>
    	<li>
    		<h3>Quite big community and a lot of tools implemented</h3>
    	</li>
    </ol>
 </section>

 <section class="slide top">
  	<h2>Node.js cons</h2>
  	<ol style="padding-left: 5em">
    	<li>
    		<h3>Not mature enough and some API are not stable</h3>
    	</li>
    	<li>
    		<h3>Running on production server might differ</h3>
    	</li>
    	<li>
    		<h3>Not enough tools and libraries</h3>
    	</li>
    	<li>
    		<h3>Not for a CPU consuming routines</h3>
    	</li>
    	<li>
    		<h3>Async code looks not so pretty</h3>
    	</li>
    </ol>
 </section>

 <section class="slide top">
  	<h2>Further reading</h2>
  	<ol style="padding-left: 5em">
    	<li>
    		<h3>http://nodejs.org/api/ - Node.js official API</h3>
    	</li>
    	<li>
    		<h3>http://book.mixu.net/ - Mixu Node book</h3>
    	</li>
    	<li>
    		<h3>http://ofps.oreilly.com/titles/9781449398583/index.html - Node Up and Running (has chapter on Express)</h3>
    	</li>
    	<li>
    		<h3>http://expressjs.com/api.html - Express API</h3>
    	</li>
    </ol>
    <h2>Useful  modules</h2>
  	<ol style="padding-left: 5em">
    	<li>
    		<h3>http://socket.io/ - for realtime apps</h3>
    	</li>
    	<li>
    		<h3>https://github.com/visionmedia/jade - Express template engine</h3>
    	</li>
    	<li>
    		<h3>http://visionmedia.github.io/mocha/ - test framework</h3>
    	</li>
    	<li>
    		<h3>http://chaijs.com/ - BDD/TDD assertion library</h3>
    	</li>
    </ol>
 </section>

<section class="slide top">
	<img src="layers.gif" height="500" alt="layers">
</section>

<section class="slide top">
	<h2>MongoDB</h2>
	<h4>Document-Oriented Storage for JSON-style documents with dynamic schemas, full index support and rich document-based queries.</h4>
	<pre class="slide">
		db.articles.find({'comments.0.by':'becevka'}) 
	</pre>
</section>

<section class="slide top">
  	<h2>Mongoskin</h2>
  	<pre>
  		var mongo = require('mongoskin');
		var db = mongo.db('localhost:27017/test?auto_reconnect');
 	</pre>
 	<pre class="slide">
  		db.bind('posts', {
  			removeTagWith : function (tag, fn) {
   				this.remove({tags:tag}, fn);
  			}
		});
		db.posts.removeTagWith('delete', function (err, replies) {
  			//do something
		});
 	</pre>
 </section>

 <section class="slide top">
  <img src="layers.gif" height="500" alt="layers">
</section>

<section class="slide top">
  <blockquote>Tim (Berners-Lee) bawled me out in the summer of '93 for adding images to the thing 
    <cite>Marc Andreesen, Mosaic</cite>
  </blockquote>
  <img class="slide" src="everything.jpg" alt="browsers">
</section>

<section class="slide top">
    <h2>Requirements for UI framework</h2>
    <ol style="padding-left: 5em">
      <li>
        <h3>Declarative, simple way to describe our presentation, how it looks and how it lays out</h3>
      </li>
      <li>
        <h3>Dynamic application out of the box</h3>
      </li>
      <li>
        <h3>No need to extend framework classes in order to make it work</h3>
      </li>
      <li>
        <h3>Easy implemented REST support</h3>
      </li>
      <li>
        <h3>Less code</h3>
      </li>
    </ol>
 </section>

 <section class="slide top">
  <img src="input.png" alt="input">
  <div class="slide">
    <pre style="padding-left: 5em">
      &lt;label&gt;Here&nbsp;is&nbsp;your&nbsp;value:&lt;/label&gt;
      &lt;input&nbsp;type=&quot;text&quot;&nbsp;name=&quot;value&quot;/&gt;
      &lt;span&gt;Here&nbsp;is&nbsp;double:&nbsp;{{value&nbsp;*&nbsp;2}}&lt;/span&gt;
    </pre>
  </center>
</section>

<section class="slide top">
  <img src="angular.png" height="250" alt="angular">
</section>

<section class="slide top">
    <h2>Core Features of AngularJS</h2>
    <ol style="padding-left: 5em">
      <li>
        <h3>Two Way Data-binding</h3>
      </li>
      <li>
        <h3>Model View Whatever</h3>
      </li>
      <li>
        <h3>HTML Templates</h3>
      </li>
      <li>
        <h3>Deep Linking</h3>
      </li>
      <li>
        <h3>Dependency Injection</h3>
      </li>
      <li>
        <h3>Directives</h3>
      </li>
    </ol>
 </section>

 <section class="slide top">
    <h2>Two Way Data-Binding</h2>
    <img src="1bind.png" alt="before"/>
    <section class="slide">
      <img src="2bind.png" alt="after"/>
    </section>
 </section>

 <section class="slide top">
    <h2>Two Way Data-Binding</h2>
    <pre style="padding-left: 5em">
      &lt;span&nbsp;id=&quot;yourName&quot;&gt;&lt;/span&gt;
      document.getElementById('yourName')[0].text&nbsp;=&nbsp;'bob';
    </pre>
    <section class="slide">
      <pre style="padding-left: 5em">
        &lt;span&gt;{{yourName}}&lt;/span&gt;
        var yourName = 'bob';
      </pre>
    </section>
 </section>

 <section class="slide top">
    <h2>Model View Whatever</h2>
    <img src="mvw.png" height="500" alt="mvw"/>
 </section>

 <section class="slide top">
    <h2>HTML Templates </h2>
    <pre style="padding-left: 5em">
      &lt;div ng-controller=&quot;AlbumCtrl&quot;&gt;
        &lt;ul&gt;
          &lt;li ng-repeat=&quot;image in images&quot;&gt;
            &lt;img ng-src=&quot;{{image.thumbnail}}&quot; alt=&quot;{{image.description}}&quot;&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    </pre>
    <section class="slide">
      <pre style="padding-left: 5em">
        function AlbumCtrl($scope) {
          scope.images = [
              {"thumbnail":"img/image_01.png", "description":"Image 01 description"},
              {"thumbnail":"img/image_02.png", "description":"Image 02 description"},
              {"thumbnail":"img/image_03.png", "description":"Image 03 description"},
              {"thumbnail":"img/image_04.png", "description":"Image 04 description"},
              {"thumbnail":"img/image_05.png", "description":"Image 05 description"}
          ];
        }
      </pre>
    </section>
 </section>

 <section class="slide top">
    <h2>Deep Linking</h2>
    <img src="location.jpg" height="500" alt="location"/>
 </section>

 <section class="slide top">
    <h2>Dependency Injection</h2>
    <pre style="padding-left: 5em">
      function EditCtrl($scope, $location, $routeParams, User) {
          // Something clever here...
      }
    </pre>
 </section>

 <section class="slide top">
    <h2>Directives</h2>
    <pre style="padding-left: 5em">
      &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;inner&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;Item
              &lt;div class=&quot;subsection&quot;&gt;item 2&lt;/div&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </pre>
    <section class="slide">
      <pre style="padding-left: 5em">
        &lt;dropdown&gt;
          &lt;item&gt;Item 1
            &lt;subitem&gt;Item 2&lt;/subitem&gt;
          &lt;/item&gt;
        &lt;/dropdown&gt;
      </pre>
    </section>
 </section>

 <section class="slide top">
    <h2>Other features</h2>
    <section class="slide">
      <h3>Filters</h3>
      <pre style="padding-left: 5em">
        &lt;td&gt;{{name|uppercase}}&lt;/td&gt;
      </pre>
    </section>
    <section class="slide">
      <h3>Services</h3>
      <pre style="padding-left: 5em">
        app.factory('User', function ($resource) {
          var User = $resource('/users/:_id', {}, {
            update: { method: 'PUT', params: {_id: "@_id" }}
          });
          return User;
        });
      </pre>
    </section>
    <section class="slide">
      <h3>Routes</h3>
      <pre style="padding-left: 5em">
        app.config(['$routeProvider', function($routeProvider) {
          $routeProvider.
          when('/login', {
              templateUrl: 'partials/login',
              controller: LoginCtrl
          });
        }]);
      </pre>
    </section>
 </section>

<section class="slide top">
    <h2>Complete example</h2>
    <pre style="padding-left: 5em">
&lt;html ng-app='myApp'&gt;
&lt;head&gt;
  &lt;title&gt;Your Shopping Cart&lt;/title&gt;
&lt;/head&gt;
&lt;body ng-controller='CartController'&gt;
    &lt;h1&gt;Your Order&lt;/h1&gt;
    &lt;div ng-repeat='item in items'&gt;
        &lt;span&gt;{{item.title}}&lt;/span&gt;
        &lt;input ng-model='item.quantity'&gt;
        &lt;span&gt;{{item.price | currency}}&lt;/span&gt;
        &lt;span&gt;{{item.price * item.quantity | currency}}&lt;/span&gt;
        &lt;button ng-click=&quot;remove($index)&quot;&gt;Remove&lt;/button&gt;
    &lt;/div&gt;
    &lt;script src=&quot;angular.js&quot;&gt; &lt;/script&gt;
    &lt;script&gt;
        angular.module(&quot;myApp&quot;, []);
        function CartController($scope) {
            $scope.items = [
                {title: 'Paint pots', quantity: 8, price: 3.95},
                {title: 'Polka dots', quantity: 17, price: 12.95},
                {title: 'Pebbles', quantity: 5, price: 6.95}
            ];
            $scope.remove = function(index) {
                $scope.items.splice(index, 1);
            }
        }
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
    </pre>
 </section>

<section class="slide top">
    <h2>Angular Resources</h2>
    <ol style="padding-left: 5em">
      <li>
        <h3>http://angular-ui.github.io/ - a lot of useful directives and filters</h3>
      </li>
      <li>
        <h3>http://angular-ui.github.io/bootstrap/ - twitter bootstrap directives</h3>
      </li>
      <li>
        <h3>http://angular-ui.github.io/ng-grid/ - grid</h3>
      </li>
      <li>
        <h3>https://github.com/angular/angularjs-batarang - web inspector extension</h3>
      </li>
      <li style="margin-top: 3em">
        <h3>http://docs.angularjs.org/ - official documentation</h3>
      </li>
      <li>
        <h3>http://www.egghead.io/ - video tutorials</h3>
      </li>
      <li>
        <h3>http://deansofer.com/posts/view/14/AngularJs-Tips-and-Tricks-UPDATED - Tips and tricks</h3>
      </li>
      <li>
        <h3>http://www.cheatography.com/proloser/cheat-sheets/angularjs/ - Cheat sheets</h3>
      </li>
    </ol>
 </section>

<section class="slide top">
  <h2>All together now</h2>
  <h4>Amigo - AngularJS MongoDB Express Node.js project generator. Allows easily scaffold project layout with CRUD operations and UI skeleton.</h4>
  <h3>https://github.com/becevka/amigo</h3>
  <pre class="slide">
    $ npm install -g amigo
    amigo todo
  </pre>
</section>

<section class="slide top">
    <h2>Amigo features</h2>
    <ol style="padding-left: 5em">
      <li>
        <h3>Resources scaffolding</h3>
      </li>
      <li>
        <h3>MongoDB storage</h3>
      </li>
      <li>
        <h3>Angular Routes</h3>
      </li>
      <li>
        <h3>Angular Resources Factories</h3>
      </li>
      <li>
        <h3>CRUD UI out of the box</h3>
      </li>
      <li>
        <h3>Authentification</h3>
      </li>
      <li>
        <h3>Session support and storing</h3>
      </li>
    </ol>
 </section>

 <section class="slide top">
    <h2>Demo</h2>
 </section>

 <section class="slide top">
    <h2>Thanks</h2>
    <h3>http://becevka.github.io/amigo/</h3>
 </section>

<!-- End slides. -->


<!-- Begin extension snippets. Add or remove as needed. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>


<!-- End extension snippets. -->


<!-- Required JS files. -->
<script src="jquery-1.7.2.min.js"></script>
<script src="core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="extensions/hash/deck.hash.js"></script>
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>
<script src="extensions/scale/deck.scale.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
	$(function() {
		$.deck('.slide');
	});
</script>
</body>
</html>
