doctype html
html(ng-app='todo')
    head
        title todo
        meta(charset='utf8')
        base(href='/')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block content