div.navbar-inner(ng-controller='AppCtrl')
    img.logo(src='/img/logo.png')
    h2 <%name%>
    div.tools
        span.info(ng-show='user') welcome {{user.name}},
            a.btn.btn-link.out(href='/logout/#{token}', ng-show='user')  logout
        span.info(ng-show='!user') welcome guest,
            a.btn.btn-link.out(href='/login', ng-show='!user')  login
    ul.nav
        li
            a(href='/') Home

