extends layout

block content
    include head
    p.error(ng-show='error', ng-bind='error')
    div.well(h-fill='70', ng-view)
    script(src = "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery{{min}}.js")
    script(src = "//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular{{min}}.js")
    script(src = "//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource{{min}}.js")
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    script(src='/js/filters.js')
    script(src='/js/directives.js')
    script(src='/js/app.js')