doctype 5
html(ng-app='{{name}}')
    head
        title {{name}}
        meta(charset='utf8')
        base(href='/')
        link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content